dj-database-url
Django>=4.2
psycopg2-binary
python-decouple
django-environ
celery[redis]>=5.3
django-celery-beat
redis
gunicorn
requests
tqdm>=4.66.1
python-dotenv==1.0.0
djangorestframework==3.14.0
drf-spectacular==0.26.5