dj-database-url
Django>=4.2
psycopg2-binary
python-decouple
django-environ
celery[redis]>=5.3
django-celery-beat
redis
gunicorn
requests
tqdm>=4.66.1
python-dotenv==1.0.0
djangorestframework==3.14.0
drf-spectacular==0.26.5
mysql-connector-python>=8.0.33
django-crispy-forms>=1.14.0
aiohttp>=3.8.1
asgiref>=3.5.0
pytz>=2022.1
certifi==2025.4.26
charset-normalizer==3.4.2
idna==3.10
lxml==5.4.0
urllib3==2.4.0
